version: 2
jobs:
  py2job:
    docker:
      - image: circleci/python:2.7.14
    steps:
      - checkout
      - run:
          command: |
            python -m venv venv
            . venv/bin/activate
            python --version
            python test_hello.py
  py3job:
    docker:
      - image: circleci/python:3.7.0
    steps:
      - checkout
      - run:
          command: |
            python3 -m venv venv
            . venv/bin/activate
            python --version
            python test_hello.py
workflows:
  version: 2
  py2_and_py3:
    jobs:
      - py2job
      - py3job
